<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Name App</title>
	<link href="main-styles.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Lato" rel="stylesheet">
</head>

<body>
	<header>
		<h1 id='nameApp'>The Name App</h1>
		<h6 id='description'>Dumb info about your name</h6>
	</header>
  	<div id="app">
		<input v-model='first' placeholder='First Name' />
		<input v-model='last' placeholder='Last Name' />
		<h4>Full Name:</h4>
		<div id='name'>{{ first }} {{ last }}</div>
		<div id='nameLength'>Your name is {{ nameLength }} letters</div>
		<div>The first letter is {{ first[0] }}</div>
		<div>The last letter is {{ last[last.length - 1] }}</div>
		<button @click='showRandom'>Randomize it!</button>
		<div id='rando' v-if="isClicked">{{ randomize }}</div>
	</div>
	<script src="https://unpkg.com/vue@next" defer></script>
	<script src="components.js" defer></script>
</body>
</html>